.form{
    width: 700px;
    background-color:#d50000;
  background-image: 
    repeating-linear-gradient(
      45deg,
      rgba(231, 231, 231, 0.8),
      rgba(231, 231, 231, 0.8) 100px,
      transparent 0px,
      transparent 200px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(231, 231, 231, 0.8),
      rgba(231, 231, 231, 0.8) 100px,
      transparent 0px,
      transparent 200px
    );
}